<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--SQLServer数据库连接字符串-->
  <!--<add name="BaseDb" connectionString="Server=192.168.0.150;Initial Catalog=DOVEMES;User ID=sa;Password=abc123@" providerName="System.Data.SqlClient" />-->
  <!--Oracle数据库连接字符串-->
  <add name="BaseDb" connectionString="User Id=DOVE;Password=DOVE;PERSIST SECURITY INFO=True;Data Source=192.168.0.150/orcl"  providerName="Oracle.ManagedDataAccess.Client"/>
  <!--MySql数据库连接字符串-->
  <!--<add name="BaseDb" connectionString="Data Source=192.168.0.103;port=3306;Initial Catalog=LeaRunFramework_Base_2016;user id=DOVE;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
</connectionStrings>