<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="DOVE.Data.IDatabase,DOVE.Data" />
    <typeAlias alias="EFDatabase" type="DOVE.Data.EF.Database,DOVE.Data.EF" />
    <typeAlias alias="IDbContext" type="DOVE.Data.EF.IDbContext,DOVE.Data.EF" />
    <typeAlias alias="SqlServer" type="DOVE.Data.EF.SqlServerDbContext,DOVE.Data.EF" />
    <typeAlias alias="MySql" type="DOVE.Data.EF.MySqlDbContext,DOVE.Data.EF" />
    <typeAlias alias="Oracle" type="DOVE.Data.EF.OracleDbContext,DOVE.Data.EF" />
    <!--<typeAlias alias="Oracle" type="DOVE.Data.Dapper.OracleDatabase,DOVE.Data.Dapper" />-->
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <!--<type type="IDatabase" mapTo="Oracle" ></type >-->
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="Oracle" ></type >
      <type type="IDbContext" mapTo="Oracle" name="Oracle"></type >
      <!--<type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >-->
      <!--<type type="IDbContext" mapTo="MySql" name="MySql"></type >-->
    </container>
  </containers>
</unity>